# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Output of the go coverage tool, specifically when used with LiteIDE
*.coverprofile

# Common development directories
vendor/
Godeps/

# Go workspace file
go.work

# IDE and editor directories and files
.vscode/
.idea/
*.swp
*.swo
*.DS_Store

# Environment variables
.env

# Log files
*.log

# Temporary files
tmp/
